<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

       

    @RenderSection("scripts", required: false)
</html>
