<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <!-- CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/animations.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/transformations.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/plyr.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />



</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
